.header {
    background-color: black;
    height: 10vh;
}

body {
    margin: 0px;

}

.text {
    position: absolute;
    color: white;
    top: 20px;
    left: 100px;
}

.container {
    position: absolute;
    left: 500px;
    top: 340px;
}

.nazvanie {
    position: absolute;
    left: 500px;
    font-size: 30px;
    top: 230px;
}
#newtask{
    position: relative;
    padding: 30px 20px;
}
#newtask input{
    width: 280px;
    height: 45px;
    margin-left: -30px;
    padding: 12px;
    color: #111111;
    font-weight: 500;
    position: relative;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    border: 2px solid #d1d3d4;
}
#newtask button{
    position: absolute;
    left: 300px;
    bottom: 40px;
    float: right;
    font-weight: 500;
    font-size: 16px;
    background-color: #0d75ec;
    border: none;
    color: #ffffff;
    cursor: pointer;
    outline: none;
    width: 30%;
    height: 60px;
    border-radius: 5px;
}
#tasks{
    border-radius: 10px;
    width: 100%;
    position: relative;
    background-color: #ffffff;
    padding: 30px 20px;
    margin-top: 10px;
}

.task{
    position: absolute;
    left: -10px;
    width: 400px;
    bottom: 20px;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #939697;
    cursor: pointer;
    background-color: #c5e1e6;
    height: 50px;
    margin-bottom: 8px;
    padding: 5px 10px;
    display: flex;
}
.task span{
    font-family: 'Poppins',sans-serif;
    font-size: 15px;
    font-weight: 400;
}
.task button{
    background-color: red;
    color: #ffffff;
    border: none;
    cursor: pointer;
    outline: none;
    height: 100%;
    width: 40px;
    border-radius: 5px;
}
input:checked + span{
    text-decoration: line-through;
}
