<div class = "product_container">
  <div class ="product_wrapper">
    <div class="product_images">
      <img class="product_images_current" src="{{product.currectImg}}">
      <div class="product_images_galery">
        <img class="product_images_galery_img" *ngFor="let image of product.galery" src="{{image}}">
      </div>
    </div>
    <div class="product_info">
      <p class="product_info_name">
        {{product.name}}
      </p>
      <p class="product_info_description">
        {{product.description}}
      </p>
      <p class="product_info_raiting">
        {{product.raiting}}
      </p>
      <img class="product_info_like" src="https://mywebicons.ru/i/png/51f90108518a04fc0e908215a009ff75.png" (click)="like()">
      <p class="product_info_likes"> Likes: {{product.likes}}</p>
    </div>
  </div>
</div>
