.categories{
  display: flex;
  flex-direction: column;
  padding: 0px 10%;
  background-color: #4cb6f9;
   &_link{
     font-size: 24px;
     color: white;
     &:hover{
       cursor: pointer;
       text-decoration: underline;
     }
   }

}
