body{
margin: 0px;
}
.for_business{
    position: absolute;
    top:1700px;
    left: 150px;
    font-size: 30px;
}
#img_txt {
    position: absolute;
    color: white;
    font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;

    left: 100px;
    top: 150px

}
.second_img{
    position: absolute;
    top:1100px;
    left: 100px;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/gldn-Hero-MSCOM-Outlook-iOS-Android:VP5-1596x600");
    width: 1300px;
    height: 500px;
}
#second_img_txt {
    color: black;
    font-family: Arial, sans-serif;
    padding: 110px 0px 0px 80px;

}

#header {
    font-size: 14px;
    font-family: Arial, sans-serif;
    position: absolute;
    left: 220px;
    top: 30px

}
.bottom_image_galery{
    display: flex;
    position: absolute;
    top:1800px;
    width: 1400px;
    column-gap: 30px;
    padding-left: 40px;
}


a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a.link {
    color: black;
}

a.bottom-link {
    color: #3f6aab;
}

a.bottom-link:focus {
    outline-style: dashed;
}
.under_header_img{
    width: 1499px;
    height: 500px;
    background-image: url("https://cdn-dynmedia-1.microsoft.com/is/image/microsoftcorp/Highlight-Hero-Windows11-GlobalLaunch:VP5-1920x600");
}
.image_galery{
    position: absolute;
    top:650px;
    padding: 30px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    column-gap: 30px;
}

#button1 {
    cursor: pointer;
    background-color: #2e47ab;
    height: 38px;
    padding: 12px;
    font-size: 15px;
    color: white;
    border: 0;
    position: absolute;
    left: 100px;
    bottom: 240px;
}

#button1:focus {
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: -4px;
}

#button2 {
    cursor: pointer;
    background-color: #2e47ab;
    height: 38px;
    padding: 12px;
    font-size: 15px;
    color: white;
    border: 0;
    position: absolute;
    left: 200px;
    top: 1470px
}

#button2:focus {
    outline-style: dashed;
    outline-width: 2px;
    outline-offset: -4px;
}

#main-pic2 {
    position: absolute;
    left: 80px;
    top: 1100px;
}
